.modall-window{
    position: fixed;
    // top: -20px; left: 0; right: 0;
    top: 40%; left: 0; right: 0;
    margin: auto;
    // width: 80%;
    width: 50%;
    border: 2px solid $border-col;
    background: #fff;
    padding: 10px;
    animation: show .5s linear;
    box-shadow: 2px 2px 10px 7px rgba( 0, 0, 0, .5);
    z-index: 10;
    &__content{
        display: flex;
        flex-direction: column;

    }
    &__title{
        text-align: center;
        @include font(25px, $font-col_err, 700);
    }
    &__message{
        span{
            padding-right: 10px;
            @include font(16px, $font-col4, 700);
        }
    }
    &__close-btn{
        max-width: 100px;
        margin: auto;
        padding: 7px 19px;
        color: #fff;
        font-size: 14px;
        background: $bg-main;
        border: none;
        border-radius: 4px;
        align-self: center;
    }
}

@keyframes show{
    0% {top: -70px; transform: rotateX(-90deg);}
}