$bg-main: #87b448;
$brd-header: #71973c;
$bg-header-search: #73993d;
$border-col: #e0e2e6;
$border-input: #c8cdd5;
$bg-service-img: #f4f7fb;
$bg-photo-input: #f7f7f7;

$font-col1: #59606b;
$font-col2: #7c8695;
$font-col3: #d3d3d3;
$font-col4: #1c2534;
$font-col5: #b7bfcd;
$font-col6: #c1c1c1;
$font-col_err: #DC143C;

$header-color: #fff;